<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>

    <add key="DBConnectionString" value="Server=rm-3nseb0360z4rd6yv5mo.sqlserver.rds.aliyuncs.com,3433;Database=PSMS_SUB_SIT;User ID=dbsa;Password=P@ssw0rd1"/>
    <!--<add key="DBConnectionString" value="Server=rm-3nseb0360z4rd6yv5.sqlserver.rds.aliyuncs.com,3433;Database=PSMS_SUB_SIT;User ID=dbsa;Password=P@ssw0rd1"/>-->
    <!--<add key="DBConnectionString" value="Server=localhost\sqlexpress;Database=PSMS_SUB_SIT;User ID=sa;Password=P@ssw0rd"/>-->
    <add key="MasterDBConnectionString" value="Server=rm-3ns3xj5335q9s51f4ro.sqlserver.rds.aliyuncs.com,3433;Database=master;User ID=dbsa;Password=P@ssw0rd1"/>
    <!--<add key="MasterDBConnectionString" value="Server=rm-3ns3xj5335q9s51f4.sqlserver.rds.aliyuncs.com,3433;Database=master;User ID=dbsa;Password=P@ssw0rd1"/>-->
    <!--<add key="PSMSDBConnectionString" value="Server=[[PSMS_DBINSTANCENAME]],3433;Database=[[PSMS_DBNAME]];User ID=dbsa;Password=P@ssw0rd1"/>-->
    <add key="PSMSDBConnectionString" value="Server=rm-3ns3xj5335q9s51f4ro.sqlserver.rds.aliyuncs.com,3433;Database=[[PSMS_DBNAME]];User ID=dbsa;Password=P@ssw0rd1"/>
    <!--<add key="PSMSDBConnectionString" value="Server=rm-3ns3xj5335q9s51f4.sqlserver.rds.aliyuncs.com,3433;Database=[[PSMS_DBNAME]];User ID=dbsa;Password=P@ssw0rd1"/>-->
    <add key="TriggerStatusCode" value="CP-WFE" />
    <add key="RenewStatusCode" value="RN|CP-WFE" />
    <add key="ScriptFolderPath" value="./SQLScript" />
    <add key="UserProfileStatusCode" value="200"/>
    <add key="ScheduleJobStatusCode" value="250"/>
    <add key="APILoginAccount" value="ASLInterface" />
    <add key="APILoginPassword" value="asl2018q3" />
    <add key="APILoginURL" value="https://www.aslpss.com/System/Login" />
    <add key="APIStatusUpdateURL" value="https://www.aslpss.com/Payment/ToStatusCode" />
    
  </appSettings>
  
</configuration>