<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

    <appSettings>
      
      <!--<add key="DBConnectionString" value="Server=localhost\sqlexpress;Database=PSMS_SUB_SIT;User ID=sa;Password=P@ssw0rd" />-->
      <!--<add key="DBConnectionString" value="Server=rm-3nseb0360z4rd6yv5.sqlserver.rds.aliyuncs.com,3433;Database=PSMS_SUB_SIT;User ID=dbsa;Password=P@ssw0rd1" />-->
      <add key="DBConnectionString" value="Server=rm-3nseb0360z4rd6yv5mo.sqlserver.rds.aliyuncs.com,3433;Database=PSMS_SUB_SIT;User ID=dbsa;Password=P@ssw0rd1" />
      <add key="RegionID" value="cn-hongkong" />
      <add key="AccessKeyID" value="LTAISBJacbnnxg9F" />
      <add key="AccessKeySecret" value="bSFhFDiC47QTfBUpMtOq2alITXX6d7" />
      <add key="TriggerStatusCode" value="INIT" />
      <add key="RenewStatusCode" value="RN|INIT" />
      <add key="ImageID" value="m-j6ce9litb6yzr90ogqug" />
      <add key="InstanceType" value="ecs.t5-lc1m4.large" />
      <!--<add key="InstanceType" value="ecs.t5-lc1m1.small" />-->
      <add key="VSwitchID" value="vsw-j6c9ihkqgn2a8uokw3x1l" />
      <add key="SecurityGroupID" value="sg-j6cf06xsjl4wome954if" />
      <add key="AdminPassword" value="asl@2018" />
      <add key="EnableMonthlySubscription" value="N"/>
      <add key="APILoginAccount" value="ASLInterface" />
      <add key="APILoginPassword" value="asl2018q3" />
      <add key="APILoginURL" value="https://www.aslpss.com/System/Login" />
      <add key="APIStatusUpdateURL" value="https://www.aslpss.com/Payment/ToStatusCode" />
      <add key="APIExpiryDateUpdateURL" value="https://www.aslpss.com/Payment/UpdateOrderExpireDate" />

    </appSettings>

</configuration>