USE [PSMS_Sub_SIT]
GO
/****** Object:  Table [dbo].[CLOUD_DB_PROVISION_STATUS_DEF]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLOUD_DB_PROVISION_STATUS_DEF](
	[TRIGGER_SEQUENCE] [nvarchar](50) NOT NULL,
	[SCRIPT_FILE_NAME] [nvarchar](255) NOT NULL,
	[UPDATE_SEQUENCE] [nvarchar](50) NULL,
 CONSTRAINT [PK_CLOUD_DB_PROVISION_STATUS_DEF] PRIMARY KEY CLUSTERED 
(
	[TRIGGER_SEQUENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLOUD_SYS_PARAM]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLOUD_SYS_PARAM](
	[KEY] [nvarchar](255) NOT NULL,
	[VALUE] [nvarchar](255) NULL,
	[DESCRIPTION] [nvarchar](max) NULL,
 CONSTRAINT [PK_CLOUD_CONFIG] PRIMARY KEY CLUSTERED 
(
	[KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_INST_MASTER]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_INST_MASTER](
	[RECORD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[DB_INSTANCE_ID] [nvarchar](255) NOT NULL,
	[WHITELIST] [nvarchar](max) NULL,
	[IS_CURRENT_INSTANCE] [bit] NOT NULL,
	[CONNECTION_STRING] [nvarchar](255) NOT NULL,
 CONSTRAINT [PK_DB_MASTER] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DB_MASTER]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DB_MASTER](
	[RECORD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_MASTER_ID] [bigint] NOT NULL,
	[DB_INSTANCE_MASTER_ID] [bigint] NOT NULL,
	[DB_NAME] [nvarchar](255) NOT NULL,
	[PROVISION_STATUS_CODE] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[LAST_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_DB_MASTER_1] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DNS_MASTER]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DNS_MASTER](
	[RECORD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_MASTER_ID] [bigint] NOT NULL,
	[SUBDOMAIN] [nvarchar](100) NOT NULL,
	[DNS_IP] [nvarchar](50) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[LAST_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_DNS_MASTER] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_T_PAYMENTPOSTFORM]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_T_PAYMENTPOSTFORM](
	[PRODUCRID] [varchar](10) NOT NULL,
	[MERCHANTID] [varchar](12) NULL,
	[AMOUNT] [varchar](20) NULL,
	[ORDERREF] [varchar](25) NULL,
	[CURRCODE] [varchar](3) NULL,
	[MPSMODE] [varchar](3) NULL,
	[SUCCESSURL] [varchar](200) NULL,
	[FAILURL] [varchar](200) NULL,
	[CANCELURL] [varchar](200) NULL,
	[PAYTYPE] [varchar](2) NULL,
	[LANG] [varchar](2) NULL,
	[PAYMETHOD] [varchar](3) NULL,
	[SECUREHASH] [varchar](200) NULL,
 CONSTRAINT [PK_PAY_T_PAYMENTPOSTFORM] PRIMARY KEY CLUSTERED 
(
	[PRODUCRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_T_PAYMENTRECORD]    Script Date: 15/10/2018 9:31:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_T_PAYMENTRECORD](
	[RECORDID] [int] IDENTITY(1,1) NOT NULL,
	[PRC] [int] NULL,
	[SRC] [int] NULL,
	[ORD] [varchar](40) NULL,
	[REF] [varchar](100) NOT NULL,
	[PAYREF] [int] NULL,
	[SUCCESSCODE] [int] NULL,
	[AMT] [varchar](30) NULL,
	[CUR] [varchar](3) NULL,
	[HOLDER] [varchar](40) NULL,
	[AUTHID] [varchar](50) NULL,
	[ALERTCODE] [varchar](50) NULL,
	[REMARK] [varchar](200) NULL,
	[ECI] [varchar](2) NULL,
	[PAYERAUTH] [varchar](1) NULL,
	[SOURCEIP] [varchar](15) NULL,
	[IPCOUNTRY] [varchar](3) NULL,
	[PAYMETHOD] [varchar](10) NULL,
	[CARDLSSUINGCOUNTRY] [varchar](3) NULL,
	[CHANNELTYPE] [varchar](3) NULL,
	[CREATE_TIME] [datetime] NULL,
 CONSTRAINT [PK_PAY_T_PAYMENTRECORD] PRIMARY KEY CLUSTERED 
(
	[RECORDID] ASC,
	[REF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PAY_T_PRODUCTINFO]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PAY_T_PRODUCTINFO](
	[PRODUCT_ID] [bigint] NOT NULL,
	[NAMED_USER_COUNT] [varchar](20) NOT NULL,
	[FEATURES] [varchar](400) NOT NULL,
	[ANTI_DDOS] [varchar](4) NOT NULL,
	[EMAIL_NOTIFICATION] [varchar](4) NOT NULL,
	[SERVER_MONITORING] [varchar](4) NOT NULL,
	[SUPPORT_TICKET] [varchar](50) NOT NULL,
	[MULTILINGUAL_ID] [varchar](4) NOT NULL,
	[VERSION] [varchar](12) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RENEW_PROCESS_MASTER]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RENEW_PROCESS_MASTER](
	[RECORD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[OLD_WFE_MASTER_ID] [bigint] NOT NULL,
	[VM_INSTANCE_ID] [nvarchar](255) NOT NULL,
	[OLD_PAYMENT_MASTER_ID] [bigint] NOT NULL,
	[NEW_PAYMENT_MASTER_ID] [bigint] NOT NULL,
	[RENEW_ACTION] [nvarchar](50) NOT NULL,
	[RENEW_REQUEST_SENT_ON] [datetime] NULL,
	[RENEW_STATUS_CODE] [nvarchar](50) NOT NULL,
	[LAST_PROCESS_ON] [datetime] NULL,
	[NEW_WFE_MASTER_ID] [bigint] NULL,
 CONSTRAINT [PK_RENEW_PROCESS_MASTER_1] PRIMARY KEY CLUSTERED 
(
	[OLD_WFE_MASTER_ID] ASC,
	[VM_INSTANCE_ID] ASC,
	[OLD_PAYMENT_MASTER_ID] ASC,
	[NEW_PAYMENT_MASTER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SLB_MASTER]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SLB_MASTER](
	[RECORD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_MASTER_ID] [bigint] NOT NULL,
	[SLB_INSTANCE_ID] [nvarchar](255) NULL,
	[SLB_STATUS] [nvarchar](255) NULL,
	[INTERNET_IP] [nvarchar](50) NULL,
	[CLIENT_TOKEN] [nvarchar](255) NULL,
	[PROVISION_STATUS_CODE] [nvarchar](50) NULL,
	[CREATED_ON] [datetime] NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[LAST_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_SLB_MASTER] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUS_T_PAYMENT]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUS_T_PAYMENT](
	[RECORD_ID] [bigint] NOT NULL,
	[ORDERREF] [varchar](50) NOT NULL,
	[CUSTOMER_ID] [varchar](50) NOT NULL,
	[STATUS_CODE] [varchar](20) NOT NULL,
	[STATUS_PAYMENT] [varchar](1) NOT NULL,
	[AMOUNT] [decimal](18, 2) NULL,
	[PAYMENT_TYPE_ID] [varchar](20) NULL,
	[DOMAIN_NAME] [varchar](100) NULL,
	[PRODUCT_CR_TIME] [datetime] NULL,
	[PRODUCT_AT_TIME] [datetime] NULL,
	[CREATE_TIME] [datetime] NOT NULL,
	[UPDATE_TIME] [datetime] NULL,
	[RENEWAL_LAST_ORDERREF] [varchar](50) NULL,
	[MULTILINGUAL_ID] [varchar](2) NULL,
 CONSTRAINT [PK_SUS_T_PAYMENT] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC,
	[ORDERREF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUS_T_VM_STATUS]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUS_T_VM_STATUS](
	[STATUS_ID] [bigint] NOT NULL,
	[STATUS_NAME] [varchar](50) NULL,
 CONSTRAINT [PK_SUS_T_VM_STATUS] PRIMARY KEY CLUSTERED 
(
	[STATUS_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_T_ALICLOUDSTATUS]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_T_ALICLOUDSTATUS](
	[SEQUENCE] [varchar](50) NOT NULL,
	[STATUS_CODE] [varchar](50) NOT NULL,
	[DEFINITION] [varchar](200) NOT NULL,
	[PERCENTAGE] [varchar](50) NULL,
 CONSTRAINT [PK_SYS_T_AlicloudStatus] PRIMARY KEY CLUSTERED 
(
	[SEQUENCE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_T_BLACKLISTDOMAIN]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_T_BLACKLISTDOMAIN](
	[BLACK_ID] [bigint] NOT NULL,
	[BLACK_DOMAIN_NAME] [varchar](100) NOT NULL,
 CONSTRAINT [PK_SYS_T_BLACKLISTDOMAIN] PRIMARY KEY CLUSTERED 
(
	[BLACK_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_T_CUSTOMER]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_T_CUSTOMER](
	[CUSTOMER_ID] [varchar](50) NOT NULL,
	[PASSWORD] [varchar](100) NOT NULL,
	[CUSTOMER_NAME] [varchar](50) NULL,
	[CNAME] [varchar](20) NULL,
	[COMPANY] [varchar](50) NULL,
	[COMPANY_ADDRESS] [varchar](100) NULL,
	[PHONE] [varchar](20) NULL,
	[FIXED_TELEPHONE] [varchar](15) NULL,
	[EMAIL] [varchar](50) NULL,
	[TOKEN] [varchar](800) NULL,
	[TOKEN_CR_DT] [datetime] NULL,
	[TOKEN_AT_DT] [datetime] NULL,
	[ACTIVECODE] [varchar](50) NULL,
	[ACTIVECODE_AT_DT] [datetime] NULL,
	[STATUS] [varchar](1) NOT NULL,
	[CREATE_DATE] [datetime] NULL,
 CONSTRAINT [PK_SYS_T_CUSTOMER] PRIMARY KEY CLUSTERED 
(
	[CUSTOMER_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_T_DICTIONARY]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_T_DICTIONARY](
	[CATEGORY] [varchar](20) NOT NULL,
	[DICTIONARY_KEY] [varchar](20) NOT NULL,
	[VALUE] [nvarchar](20) NULL,
	[DESCRIBE] [nvarchar](50) NULL,
	[STATUES] [bit] NOT NULL,
	[CREATE_TIME] [datetime] NULL,
	[CREATE_BY] [varchar](20) NULL,
	[UPDATE_TIME] [datetime] NULL,
	[UPDATE_BY] [varchar](20) NULL,
 CONSTRAINT [PK_SYS_T_DICTIONARY] PRIMARY KEY CLUSTERED 
(
	[CATEGORY] ASC,
	[DICTIONARY_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SYS_T_LOGIN_LOG]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SYS_T_LOGIN_LOG](
	[LOG_ID] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NOT NULL,
	[LOGIN_TIME] [datetime] NOT NULL,
	[ACCESS_IP] [varchar](50) NULL,
 CONSTRAINT [PK_SYS_T_LOGIN_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WFE_MASTER]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WFE_MASTER](
	[RECORD_ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PAYMENT_MASTER_ID] [bigint] NOT NULL,
	[SLB_MASTER_ID] [bigint] NULL,
	[VM_INSTANCE_ID] [nvarchar](255) NULL,
	[VM_IP] [nvarchar](50) NULL,
	[INTERNET_IP] [nvarchar](50) NULL,
	[VM_STATUS] [nvarchar](50) NULL,
	[CREATED_ON] [datetime] NULL,
	[CONFIG_FILE_UPDATED] [bit] NULL,
	[IIS_BINDING_UPDATED] [bit] NULL,
	[CLIENT_TOKEN] [nvarchar](255) NULL,
	[IS_ACTIVE] [bit] NOT NULL,
	[EXPIRE_ON] [datetime] NULL,
	[LAST_UPDATED] [datetime] NULL,
 CONSTRAINT [PK_WFE_MASTER] PRIMARY KEY CLUSTERED 
(
	[RECORD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Trigger [dbo].[TABLE_INSERTTRIGGER]    Script Date: 15/10/2018 9:31:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[TABLE_INSERTTRIGGER] ON [dbo].[PAY_T_PAYMENTRECORD]
FOR INSERT
AS
BEGIN
	-- UPDATE PAY_T_PAYMENTPOSTFORM SET ORDERREF = CONVERT(varchar,(SELECT MAX(CONVERT(INT,REF))+1 FROM PAY_T_PAYMENTRECORD))  
	--MODIFY BY BILL 2018.8.13
	DECLARE @ORDERREF  VARCHAR(50)
	SELECT @ORDERREF = REF FROM inserted  
	UPDATE PAY_T_PAYMENTPOSTFORM SET ORDERREF = CONVERT(varchar,(SELECT MAX(CONVERT(INT,ORDERREF))+1 FROM PAY_T_PAYMENTPOSTFORM)) WHERE ORDERREF = @ORDERREF
END
GO
ALTER TABLE [dbo].[PAY_T_PAYMENTRECORD] DISABLE TRIGGER [TABLE_INSERTTRIGGER]
GO
