<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="DBConnectionString" value="Server=rm-3nseb0360z4rd6yv5.sqlserver.rds.aliyuncs.com,3433;Database=PSMS_Sub_SIT;User ID=dbsa;Password=P@ssw0rd1"/>
    <add key="RegionID" value="cn-hongkong" />
    <add key="AccessKeyID" value="LTAISBJacbnnxg9F" />
    <add key="AccessKeySecret" value="bSFhFDiC47QTfBUpMtOq2alITXX6d7" />
    <add key="DomainName" value="aslpss.com"/>
  </appSettings>
</configuration>